
header {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  background-color: whitesmoke;
  padding: 10px 0;        
  width: 100%;
}

.titulo {
  text-align: center;
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 5px;
}

.titulo h2 {
  text-align: center;
  font-weight: 300; 
  font-size: medium;
  margin-top: 5px; 
}

.listas {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  list-style: none;
  padding: 0; 
  margin: 10px 0 0 0; 
  gap: 25px; 
}

.listas li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 5px 10px; 
}

.listas li a:hover {
  color: #e13419;
}